node_modules/
.expo/
dist/
data
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/
.env
tests/env/
package-lock.json
*.env.json
.dockerignore
Dockerfile
compose.yaml
init.sql
logs
*.log
tests

# macOS
.DS_Store